In [1]:
print("hello world")

hello world

Python supports several built-in data types that are fundamental to programming. Here are the main data types in Python:
1. Numeric Types:

    int: Integer values without decimal points (e.g., 5, -10, 1000)
    float: Floating-point numbers with decimal points (e.g., 3.14, -0.5, 2.0)

In [2]:
num_int = 10
num_float = 3.14

In [3]:
print(num_int,type(num_int), id(num_int))

10 <class 'int'> 140712045464280

In [4]:
print(num_float,type(num_float), id(num_float))

3.14 <class 'float'> 2960265248016

2. String Type:

    str: Sequence of characters enclosed in single quotes, double quotes, or triple quotes (e.g., 'hello', "world", '''Python''')

In [5]:
my_string = "Hello, World!"

In [6]:
print(my_string, type(my_string), id(my_string))

Hello, World! <class 'str'> 2960283926256

Boolean Type:

    bool: Represents truth values - True or False.

In [7]:
is_valid = True
is_empty = False

In [8]:
print(is_valid, type(is_valid), id(is_valid))

True <class 'bool'> 140712044670032

In [9]:
print(is_empty, type(is_empty), id(is_empty))

False <class 'bool'> 140712044670064

4. Sequence Types:

    list: Ordered collection of items of different data types, mutable (changeable).

    tuple: Ordered collection of items, immutable (cannot be changed after creation).
    
    range: Represents a sequence of numbers, used for iterating.

In [10]:
my_list = [1, 2, 3, 'apple']
my_tuple = (10, 20, 30)
my_range = range(1, 5)  # Generates numbers from 1 to 4

In [11]:
print(my_list, type(my_list), id(my_list))

[1, 2, 3, 'apple'] <class 'list'> 2960283630976

In [12]:
print(my_tuple, type(my_tuple), id(my_tuple))

(10, 20, 30) <class 'tuple'> 2960266500800

In [13]:
print(my_range, type(my_range), id(my_range))

range(1, 5) <class 'range'> 2960283190448

5. Mapping Type:

    dict: Collection of key-value pairs, unordered and mutable.

In [14]:
my_dict = {'name': 'Alice', 'age': 30}

In [15]:
print(my_dict, type(my_dict), id(my_dict))

{'name': 'Alice', 'age': 30} <class 'dict'> 2960283923264

6. Set Types:

    set: Unordered collection of unique items, mutable (can be changed).
    frozenset: Similar to set, but immutable (cannot be changed after creation).

In [16]:
my_set = {1, 2, 3, 4}
my_frozenset = frozenset({1, 2, 3})

In [17]:
print(my_set, type(my_set), id(my_set))

{1, 2, 3, 4} <class 'set'> 2960266305696

In [18]:
print(my_frozenset, type(my_frozenset), id(my_frozenset))

frozenset({1, 2, 3}) <class 'frozenset'> 2960283414176

7. None Type:

    NoneType: Represents the absence of a value, often used as a default return value or to initialize variables.

In [19]:
my_var = None

In [20]:
print(my_var, type(my_var), id(my_var))

None <class 'NoneType'> 140712044670096

These data types cover a wide range of programming needs in Python, from storing simple values to more complex data structures and collections. Understanding how to work with these data types and their respective methods is essential for effective Python programming. Additionally, Python also supports advanced data types and structures through built-in modules and libraries, such as datetime for handling dates and times, collections for specialized data structures, and more.