In [7]:
# pip install pandas

In [9]:
# pip install xlrd

In [23]:
import pandas as pd
df=pd.read_excel("dashboard1.xls",sheet_name=2)
df

             Calculation  Unnamed: 1
0  Actual Start Position           1
1       Maximum Position          91

In [61]:
from pandas import *
df=read_json("data.json")
df[::2]

   Name  Age      City
0  Buvi   24  New York
2  Hari   23    London

In [44]:
import pandas as pd
data = {
    'Name': ['Buvi', 'Abishek', 'Hari', 'Kowsalya'],
    'Age': [24, 25, 23, 24],
    'City': ['New York', 'Paris', 'London', 'Tokyo']
}
df = pd.DataFrame(data)
df.to_json('data.json',orient='records')